{% extends "./layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-6" style="margin-top: 150px; padding-left: 50px; padding-right: 50px;">
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						{{ form.email(class="form-control") }}
					</div>
					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{{ form.password(class="form-control") }}
					</div>
					<div class="form-group">
						{{ form.submit(class="btn btn-primary w-100") }}
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-6 bg">
			
		</div>
	</div>
</div>
{% endblock %}