{% extends "./layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-6" style="padding-left: 50px; padding-right: 50px;">
			<form action="" method="POST" enctype="multipart/form-data">
                <!-- hidden tag is like csrf token for protection -->
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.fName.label(class="form-control-label") }}
        
                        <!-- if data not valid , display errors -->
                        {% if form.fName.errors %}
                            {{ form.fName(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.fName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.fName(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.lName.label(class="form-control-label") }}
        
                        <!-- if data not valid , display errors -->
                        {% if form.lName.errors %}
                            {{ form.lName(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lName(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
        
                        <!-- if data not valid , display errors -->
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
        
                        <!-- if data not valid , display errors -->
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
        
                        <!-- if data not valid , display errors -->
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="photo">photo</label>
                        <input type="file" name="photo" class="form-control"  accept="image/png, image/gif, image/jpeg" required>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary w-100") }}
                    </div>
                </fieldset>
            </form>
		</div>
		<div class="col-6 bg" style="height: 600px;">
			
		</div>
	</div>
</div>
{% endblock %}