.bg {
    /* The image used */
    background-image: url("../images/social.png");

    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}