{% extends 'layout.html' %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet"> 
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}
{%block content%}

<section class="hero">
    <div class="container">
     <div class="row">	
     
      <div class="col-lg-6 offset-lg-3">
       
       <div class="cardbox shadow-lg bg-white">
        
        <div class="cardbox-heading">
         <!-- START dropdown-->
         <div class="dropdown float-right">
          <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
           <em class="fa fa-ellipsis-h"></em>
          </button>
          <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
           <a class="dropdown-item" href="#">Hide post</a>
           <a class="dropdown-item" href="#">Stop following</a>
           <a class="dropdown-item" href="#">Report</a>
          </div>
         </div><!--/ dropdown -->
         <div class="media m-0">
          <div class="d-flex mr-3">
           <a href=""><img class="img-fluid rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User"></a>
          </div>
          <div class="media-body">
           <p class="m-0">Benjamin Robinson</p>
           <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small>
          </div>
         </div><!--/ media -->
        </div><!--/ cardbox-heading -->
         
        <div class="cardbox-item">
         <img class="img-fluid" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/1.jpg" alt="Image">
        </div><!--/ cardbox-item -->
       
        <div>
         <p class="text-dark">djjjjjjjjjjjjjjjalzmsxmdmmdmd,d,cdmdfmdfklkdkdkkdkriirurjfmfc m mcmckcmmcncfndmmcncn</p>
        </div><!--/ cardbox-like -->			  
               
       </div><!--/ cardbox -->
      </div><!--/ col-lg-6 -->	
     </div><!--/ row -->
    </div><!--/ container -->
   </section>

   <section class="hero">
    <div class="container">
     <div class="row">	
     
      <div class="col-lg-6 offset-lg-3">
       
       <div class="cardbox shadow-lg bg-white">
        
        <div class="cardbox-heading">
         <!-- START dropdown-->
         <div class="dropdown float-right">
          <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
           <em class="fa fa-ellipsis-h"></em>
          </button>
          <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
           <a class="dropdown-item" href="#">Hide post</a>
           <a class="dropdown-item" href="#">Stop following</a>
           <a class="dropdown-item" href="#">Report</a>
          </div>
         </div><!--/ dropdown -->
         <div class="media m-0">
          <div class="d-flex mr-3">
           <a href=""><img class="img-fluid rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User"></a>
          </div>
          <div class="media-body">
           <p class="m-0">Benjamin Robinson</p>
           <small><span><i class="icon ion-md-time"></i> 10 hours ago</span></small>
          </div>
         </div><!--/ media -->
        </div><!--/ cardbox-heading -->
         
        <div class="cardbox-item">
         <img class="img-fluid" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/1.jpg" alt="Image">
        </div><!--/ cardbox-item -->
       
        <div>
         <p class="text-dark">djjjjjjjjjjjjjjjalzmsxmdmmdmd,d,cdmdfmdfklkdkdkkdkriirurjfmfc m mcmckcmmcncfndmmcncn</p>
        </div><!--/ cardbox-like -->			  
               
       </div><!--/ cardbox -->
      </div><!--/ col-lg-6 -->	
     </div><!--/ row -->
    </div><!--/ container -->
   </section>
<button  type="button" class="btn btn-primary btn-lg" style="position:fixed; bottom:20px;right:20px; z-index:10;">
    <a href="{{ url_for('home.add_post') }}" class="visually-hidden text-light">Add Post</a>
  </button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('connect', function() {
          socket.emit('init', JSON.stringify({username: '1'}));
      });
      socket.on("reply",(data) =>{
          console.log(data)
  
      })
  </script>
{%  endblock %}