{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block content %}
<form action="{{url_for('home.update_profile')}}" method="POST" enctype="multipart/form-data">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="data:image/*;charset=utf-8;base64,{{ images_user }}"><span class="font-weight-bold">{{current_user}}</span><span class="text-black-50">{{current_user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First name</label><input type="text" class="form-control" placeholder="first name" value="{{current_user.fName}}" name="fName" required></div>
                    <div class="col-md-6"><label class="labels">Last name</label><input type="text" class="form-control" value="{{current_user.lName}}" placeholder="surname" name="lName" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="{{current_user.mobile_number}}" name="phone"></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value="{{current_user.address1}}" name="address1"></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value="{{current_user.address2}}" name="address1"></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter Postcode" value="{{current_user.postcode}}" name="postcode"></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter State" value="{{current_user.state}}" name="state"></div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text" class="form-control" placeholder="enter country" value="{{current_user.Country}}" name="country"></div>
                     <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value="{{current_user.education}}" name="education"></div>
                     <div class="col-md-12"><label class="labels">Image</label><input type="file" class="form-control"  accept="image/png, image/gif, image/jpeg" name="photo" ></div>
                   
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Password</label><input type="password" class="form-control" value="" name="password"></div>
                    <div class="col-md-6"><label class="labels">Confirm Password</label><input type="password" class="form-control" value="" name="confirm_password"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
       
    </div>
</div>
</div>
</div>
</form>
{% endblock %}